*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%; /* this will be 16px on most browsers */
  line-height: 1.5; /* this is a multiple of the font size (1.5 * 16px = 24px) */
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}

figure {
  margin: 0;
}


.film {
  position: relative;
  width: 50%;
  margin: 40px auto;
  overflow: hidden;
  border: 5px solid grey;
  padding: 20px;

}

.film-poster {
position: relative;
float: left;
width: 20%;
margin-right: 20px;

  }


  .action-like {
  position:absolute;
  bottom: 5px;
  right: 5px;
  color: red;

  }


  .action-watch-later {
  position: absolute;
  top: 5px;
  right: 5px;
  color: red;

  }
