*,
*::before,
*::after {
  box-sizing: border-box;
}


html {
  box-sizing: inherit;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%; /* this will be 16px on most browsers */
  line-height: 1.5; /* this is a multiple of the font size (1.5 * 16px = 24px) */
}

body {
  height: 2000px;
}

.container {
  position: relative;
  width: 88%;
  height: 13%;
  margin: auto;
  border: px solid black;
  background-color: #eee;

}


.box {
  position: relative;
  width: 200px;
  height: 200px;

}

.red {
  position: : absolute;
  bottom: 50px;
  left: 100px;
  background-color: pink;

}

.green {
  position: absolute;
  bottom: 50px;
  right: 50%;
  background-color: lightgreen;

}

.blue {
  position: relative;
  top: 50px;
  left: 200px;
  background-color: lightblue;

}

.orange {
  position: absolute;
  top: 75%;
  left: 25%;
  background-color: orange;

}

.yellow {
  position: fixed;
  left: 0;
  right: 0;
  right: 0;
width: 100%;
  bottom: 0;
  background-color: yellow;

}
